@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

main{
  max-width: 500px;
  margin:  0 auto;
  background-color: #eee;
  min-height: 760px;
  box-shadow: 0 6px 20px -4px rgba(0, 0, 0, .4);
}